
a { text-decoration:none;}
a img { border:none;}

.error
{
    font-size: 12px;
    color: #FFFF00;
}
.forinput2 { height:20px; background:#2f3032; border:1px solid #41474a;
				color:#d8d8d8;  padding-left:5px; font-size:11px;}
.forinput3 { height:20px; background:#2f3032; border:1px solid #41474a;
				color:#d8d8d8;  padding-left:5px; font-size:14px;}
				
.tdpadleft{padding-left: 10px;}

.table1 {}
.table1 td {border:1px solid #41474a;}
.table2 {}
.table2 td {border:1px solid #41474a; padding-left: 10px; padding-top: 5px; padding-bottom: 5px;}

.a_hover:hover 
{
    text-decoration: underline;}
    

.field-txtbox {
	width:250px;
	line-height:26px;
	height:30px;
	padding:0px 6px;
	color:#6d6d6d;
	-webkit-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.5);
	box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.5);
}

.table-member .pgr tr td {
	line-height:22px;
	padding: 5px 10px;
	border:none;
}
.table-member .pgr tr td span
{
    text-decoration: underline;
}

.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio]
    {
        position: absolute;
    margin-top: 4px\9;
    margin-left:0px;
    margin-top: 10px;
    }
.checkbox label, .checkbox-inline label {
    text-align: left;
        margin-top: 8px;
    }





    .spin-wheel {
        position: relative;
        background: #FFF;
        padding: 20px;
        width: auto;
        max-width: 880px;
        margin: 20px auto;
    }

    #canvasContainer {
        position: relative;
        width: 500px;
        text-align: center;
        margin: 0px auto;
    }
     
    #spinner {
        z-index: 1;
        display: block;
        margin: 0 auto;
     
    }
     
    #prizePointer {
        position: absolute;
        right: 0px;
        top: 0px;
        z-index: 999;
    }

    .mobile-spin-wheel {
        position: relative;
        background: #FFF;
        padding: 20px;
        width: auto;
        max-width: 880px;
        margin: 20px auto;
    }

    #mobile-canvasContainer {
        position: relative;
        width: 500px;
        text-align: center;
        margin: 0px auto;
    }
     
    #mobile-prizePointer {
        position: absolute;
        top: 0px;
        z-index: 999;
    }

    .mobile-spinner {
        margin: 0 !important;
    }

    .text-center {
        text-align: center;
    }

    .bx-wrapper {
        background: rgba(0,0,0,0) !important;
        box-shadow: 0 0 0px #ccc !important;
        border: 0 !important;
    }

    .bx-viewport {
        background-color: rgba(0,0,0,0);
    }

    .bx-prev {
        background-size: 83px 64px;
    }

    .bx-next {
        background-size: 83px 65px;
    }
    

    .slider-sport-bg {
        background-image: url('../sport/field.png');
        background-size: cover;
        position: relative;
    }

    .bx-wrapper, .bx-viewport {
        height: 153px !important; //provide height of slider
    }


    #hotgame .bx-wrapper, .bx-viewport {
        height: 165px !important; 
        margin-bottom: 0px;
    }

    #newgame .bx-wrapper, .bx-viewport {
        height: 165px !important; 
        margin-bottom: 0px;
    }

    #progs .bx-wrapper, .bx-viewport {
        height: 165px !important; 
        margin-bottom: 0px;
    }

    #fea .bx-wrapper, .bx-viewport {
        height: 215px !important; 
        margin-bottom: 0px;
    }


    .team {
        padding-top: 1px;
    }

    .team .flag {
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 54%;
    }

    .team .btn-bet {
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 54%;
    }

    .team p {
        color: #f1be55;
        font-size: 16px;
    }

    .slider-slots-bg {
        background-image: url('../sport/slot.jpg');
        background-size: cover;
        position: relative;
    }

    .nav-tabs {
        border-bottom: 0 solid #ddd;
        margin-bottom: 10px;
        margin-left: 18px;
    }

    .nav-tabs .nav-link {
        border: 0 solid transparent;
        border-top-right-radius: .25rem;
        border-top-left-radius: .25rem;
    }

    .nav-tabs>li a, .nav-tabs>li a:focus, .nav-tabs>li a:hover {
        color: white;
    }



    .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
        color: gold;
        cursor: default;
        background-color: rgba(0,0,0,0);

        border: 0;
        border-bottom: 1px solid #ddd;
    }

    .nav>li>a:focus, .nav>li>a:hover {
        text-decoration: none;
        background-color: rgba(0,0,0,0);
        border: 0;
        border-bottom: 1px solid #ddd;
    }

    .bx-wrapper .bx-pager-item {
        position: absolute;
        bottom: -50px;
    }


