@import url('https://fonts.googleapis.com/css?family=Play:400,700');
body {
	font-family: 'Play', "Microsoft Yahei","微软雅黑", STXihei, "华文细黑", sans-serif;
	font-size: 13px;
	background-color: #000;
	color: #fff;
	background-image: url(../images/common/Casino_rouletter_wheel.png);
	background-size: cover;
	background-attachment: fixed;
}

.body-new {
	font-family: 'Play', "Microsoft Yahei","微软雅黑", STXihei, "华文细黑", sans-serif;
	font-size: 13px;
	background-color: #000;
	color: #fff;
	background-image: url(../images/common/bg.png);
	background-size: cover;
	background-attachment: fixed;
}

a:focus, a:focus:visited, a:focus:hover, a:hover:focus {
	text-decoration: none;
}
a:focus, :focus, .btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
	outline: 0;
}
.container {
	width: 1040px;
	padding-left: 0;
	padding-right: 0;
}
.content {

}

.nivoSlider img{height:100% !important; object-position: bottom;} 
.nivo-main-image{height:100% !important;}

/* Left */
#sidebar {
	position: absolute; 
	left: -155px; 
	top: 143px;
}
.left-wrap {
	background:#537078;
	-webkit-box-shadow:inset 0 0 0 5px #a9dbf2;
	box-shadow:inset 0 0 0 5px #a9dbf2;
	text-align:center;
	padding:10px 3px;
	margin-bottom:10px;
}
.left-title {
	text-transform:uppercase;
	font-weight:700;
	text-shadow: -1px 1px 1px #000;
	margin-bottom:5px;
}
.left-in {
	-webkit-box-shadow:inset 0 0 5px 3px rgba(255,255,255,0.1);
	box-shadow:inset 0 0 5px 3px rgba(255,255,255,0.1);
	padding:7px 10px 10px 10px;
	-webkit-border-radius: 8px 8px 8px 8px;
	border-radius: 8px 8px 8px 8px;
	background: #4b808e; /* Old browsers */
	background: -moz-linear-gradient(top,  #4b808e 0%, #3e6a75 3%, #355b66 6%, #2d525b 8%, #2b4d57 11%, #254751 26%, #1a3f48 43%, #052b36 46%, #032b37 89%, #02303d 93%, #043846 96%, #05485b 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #4b808e 0%,#3e6a75 3%,#355b66 6%,#2d525b 8%,#2b4d57 11%,#254751 26%,#1a3f48 43%,#052b36 46%,#032b37 89%,#02303d 93%,#043846 96%,#05485b 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #4b808e 0%,#3e6a75 3%,#355b66 6%,#2d525b 8%,#2b4d57 11%,#254751 26%,#1a3f48 43%,#052b36 46%,#032b37 89%,#02303d 93%,#043846 96%,#05485b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4b808e', endColorstr='#05485b',GradientType=0 ); /* IE6-9 */
}
.left-top {
	text-transform:uppercase;
	font-weight:700;
	margin-bottom:5px;
}
.a-link {
	margin-bottom:3px;
}
.a-link:last-child {
	margin-bottom:0;
}
.a-link a {
	font-weight:700;
	color:#fff;
}

/* Right */
#sidebar-2 {
    position: absolute;
    right: -150px;
    top: 143px;
}
.hidden {
	display:none;
}
.tutorial {
	background:url(../images/common/tutorial.png)no-repeat;
	width:142px;
	height:126px;
	position:relative;
}
.tutorial-wrap {
	width:142px;
	text-align:center;
	position:absolute;
	bottom:-20px;
	left:0;
	font-weight:700;
	text-transform:uppercase;
	padding:5px 10px;
}
.tutorial-wrap .text{
	color:#fff;
}
.tutorial-wrap .text:first-child {
	color:#00ffff;
	text-shadow: -1px 1px 1px #000;
}
.right-help {
	position:fixed;
	top:400px;
	right:-77px;
	padding:10px 20px;
	background: #4b808e; /* Old browsers */
	background: -moz-linear-gradient(top,  #4b808e 0%, #3e6a75 3%, #355b66 6%, #2d525b 8%, #2b4d57 11%, #254751 26%, #1a3f48 43%, #052b36 46%, #032b37 89%, #02303d 93%, #043846 96%, #05485b 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #4b808e 0%,#3e6a75 3%,#355b66 6%,#2d525b 8%,#2b4d57 11%,#254751 26%,#1a3f48 43%,#052b36 46%,#032b37 89%,#02303d 93%,#043846 96%,#05485b 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #4b808e 0%,#3e6a75 3%,#355b66 6%,#2d525b 8%,#2b4d57 11%,#254751 26%,#1a3f48 43%,#052b36 46%,#032b37 89%,#02303d 93%,#043846 96%,#05485b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4b808e', endColorstr='#05485b',GradientType=0 ); /* IE6-9 */
	-webkit-border-radius: 20px 20px 0 0;
	border-radius: 20px 20px 0 0;
	-webkit-box-shadow:inset 0 0 5px 3px rgba(255,255,255,0.1);
	box-shadow:inset 0 0 5px 3px rgba(255,255,255,0.1);
	-moz-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	transform: rotate(-90deg);
}
.right-text {
	color:#fff;
	font-weight:700;
	text-transform:uppercase;
	text-align:center;
	font-size:16px;
}
.right-text .help:first-child {
	text-shadow: -1px 1px 1px #000;
}

.social-menu {
    display: inline-block;
    height: 29px;
    vertical-align: bottom;
    margin-right: 30px;
}

.social-menu .social-link {
	color: #e4d796;
}

.help-bar {

display: inline-block;

}

/* Header */
#topLanguage {
	height: 30px;
}

#topLanguage > .container {

	text-align: right;

}

#topLanguage .helpCenter {
	float: left;
	border-right: 1px solid #0d3453;
	height: 29px;
	padding-top: 8px;
	padding-right: 10px;
	text-transform:uppercase;
}
#topLanguage .helpCenter a {
	font-size: 11px;
	color: #ffa830;
}
#topLanguage .helpCenter a > i{
	color: #fff;
}
#topLanguage .helpCenter a:hover {
	color: #FFFFFF;
	text-decoration: none;
}
#topLanguage .languageWrap {
	float: left;
	border-left: 1px solid #0b1f2e;
	height: 29px;
	padding-left: 10px;
	padding-top: 5px;
}
#topLanguage .btn-language {
    border: 1px solid #e4d796;
    padding-left: 48px;
    color: #e4d796;
    font-size: 11px;
    width: 120px;
    height: 21px;
    background: rgb(5, 5, 5) url(http://127.0.0.1:8000/images/common/flag-en.png) no-repeat;
}
#topLanguage .dropdown-menu {
	border: 1px solid #ffa830;
    background: #050505;
    font-size: 11px;
    width: 120px;
    min-width: 100px;
    border-radius: 0;
}
#topLanguage .dropdown-menu a {
	width: 118px;
	color: #ffa830;
	text-align: right;
	padding: 2px 5px 2px 15px;
	display: block;
}
#topLanguage .dropdown-menu a:hover {
	background-color: #fff;
	color: #050505;
}
#topLanguage .dropdown-menu a.language-cn {
	background-image: url(../images/common/flag-cn.png);
	background-repeat: no-repeat;
}
#topLanguage .dropdown-menu a.language-en {
	background-image: url(../images/common/flag-en.png);
	background-repeat: no-repeat;
}
#topLanguage .dropdown-menu a.language-my {
	background-image: url(../images/common/flag-my.png);
	background-repeat: no-repeat;
}
#header {
	height: 110px;
}
#header .headWrap {
	background:#000;
	position: relative;
	height: 110px;
}
#header .logo {
	float: left;
	padding-top: 10px;
	padding: initial;
    position: absolute;
    top: -40px;
    left: -46px;
}
#header .loginpart {
	margin-top:8px;
	position:relative;
}
#header .loginfield {
	float:left;
	margin-left:6px;
}
#header .loginfield:first-child {
	float:left;
	margin-left:0px;
}
#header .txtbox {
	border: 1px solid #2b495c;
	border-radius: 4px;
	width: 143px;
	height: 30px;
	padding: 0 10px;
	font-size: 12px;
	color: #FFFFFF;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	background-color: #1c1c1c;
	-webkit-box-shadow: inset 0 1px 2px rgba(16,46,67,.88);
	-moz-box-shadow: inset 0 1px 2px rgba(16,46,67,.88);
	box-shadow: inset 0 1px 2px rgba(16,46,67,.88);
	border: solid 1px #00090f;
	background-image: -webkit-linear-gradient(bottom, #000, #3c3838);
	background-image: -moz-linear-gradient(bottom, #000, #3c3838);
	background-image: -o-linear-gradient(bottom, #000, #3c3838);
	background-image: -ms-linear-gradient(bottom, #000, #3c3838);
	background-image: linear-gradient(to top, #000, #3c3838);
}
#header input::-moz-placeholder {
	color:#838383;
}
#header input:-ms-input-placeholder {
	color:#838383;
}
#header input::-webkit-input-placeholder {
	color:#838383;
}
#header .btn-login {
	/* width: 85px; */
	/* height: 30px; */
	font-size: 15px;
	font-weight: 700;
	color: #000;
	border: none;
	padding: 3px 18px;
    line-height: 22px;
	text-transform:uppercase;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	background-color: #1c1c1c;
	-webkit-box-shadow: 1px 1px 1px rgba(0,0,0,.97);
	-moz-box-shadow: 1px 1px 1px rgba(0,0,0,.97);
	box-shadow: 1px 1px 1px rgba(0,0,0,.97);
	border: solid 1px #454545;
    background: #e4d796;
}rgb(5, 4, 2)
#header .btn-login:hover {

}
#header .btn-register {
	/* width: 117px; */
	/* height: 30px; */
	font-size: 15px;
	font-weight: 700;
	color: #fff;
	border: none;
	padding: 3px 18px;
    line-height: 22px;
	text-transform:uppercase;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	background-color: #1c1c1c;
	-webkit-box-shadow: 1px 1px 5px rgba(0,0,0,.75);
	-moz-box-shadow: 1px 1px 5px rgba(0,0,0,.75);
	box-shadow: 1px 1px 5px rgba(0,0,0,.75);
	border: solid 1px #000;
	background-image: -webkit-linear-gradient(top, #f72626, #bd0605 40%, #560402);
	background-image: -moz-linear-gradient(top, #f72626, #bd0605 40%, #560402);
	background-image: -o-linear-gradient(top, #f72626, #bd0605 40%, #560402);
	background-image: -ms-linear-gradient(top, #f72626, #bd0605 40%, #560402);
	background-image: linear-gradient(to bottom, #f72626, #bd0605 40%, #560402);
}
#header .btn-register:hover {

}
#header .invalid {
	position:absolute;
	left:0;
	bottom:-18px;
	font-size:12px;
	color:#f59c5d;
}	
#header .forgotpw {
	float: right;
	clear: right;
	margin-top: 2px;
	width: 200px;
	text-align: right;
	text-transform:uppercase;
}
#header .forgotpw a {
	font-size: 10px;
	color: #d8ffff;
}
#header .forgotpw a:hover {
	color: #FFFFFF;
	text-decoration: none;
}
#header .topLiveChat {
	position: absolute;
	bottom: -6px;
	right: 0;
	z-index: 11;
}
#header .topLiveChat a {
	display: block;
	width: 112px;
	height: 35px;
}
#header .topLiveChat a:hover {

}
#menu {
	width: 100%;
	bottom: 0;
	left: 0;
	position: absolute;
}
#menu > ul {
	display: flex;
	margin: 0;
	padding: 0;
	list-style-type: none;
}
#menu > ul > li {
	float: left;
    display: block;
    flex: auto;
    text-align: center;
}

#menu > ul > li:first-child {

flex: 45;

}

#menu > ul > li > a {
	display: block;
	height: 35px;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
	font-size: 13px;
	color: #fff;
	font-weight: 700;
	padding: 7px 22px;
	text-transform:uppercase;
	background: linear-gradient(to bottom, #e71e1e, #9b0302 40%, #410302); /* Old browsers */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd65e', endColorstr='#ff9f0f',GradientType=0 ); /* IE6-9 */
}
#menu > ul > li.home-menu > a {

	color:#fff;
	background: #eab92d; /* Old browsers */
	background: -moz-linear-gradient(-45deg, #eab92d 0%, #e8be4c 51%, #c79810 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, #eab92d 0%,#e8be4c 51%,#c79810 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, #eab92d 0%,#e8be4c 51%,#c79810 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eab92d', endColorstr='#c79810',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}
#menu > ul > li.comment > a {

color: #fff;

}
#menu > ul > li > a .fa-home, #menu > ul > li > a .fa-mobile {
	font-size:25px;
}
#menu > ul > li > a .fa-mobile {
	position:relative;
	top:-2px;
}
#menu > ul > li > a.active, #menu > ul > li > a.active:hover {
	color: #4c4a11;
	background: #686018; /* Old browsers */
	background: -moz-linear-gradient(top,  #686018 0%, #bb8d1e 3%, #af8a43 6%, #d1b05f 19%, #e1c66f 33%, #f2d97f 50%, #fce386 67%, #fce387 83%, #f8df83 94%, #e1ba41 97%, #684e01 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #686018 0%,#bb8d1e 3%,#af8a43 6%,#d1b05f 19%,#e1c66f 33%,#f2d97f 50%,#fce386 67%,#fce387 83%,#f8df83 94%,#e1ba41 97%,#684e01 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #686018 0%,#bb8d1e 3%,#af8a43 6%,#d1b05f 19%,#e1c66f 33%,#f2d97f 50%,#fce386 67%,#fce387 83%,#f8df83 94%,#e1ba41 97%,#684e01 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#686018', endColorstr='#684e01',GradientType=0 ); /* IE6-9 */
} 
#menu > ul > li > a:hover {
	color: #fff;
	text-decoration: none;
	background: linear-gradient(to bottom, #800a0a, #550504 40%, #410302); /* Old browsers */
    border-right: 1px solid #000;
    border-left: 1px solid #000;
}

#menu > ul > li:last-child > a {

	color: #fff;
	
}
#menu > ul > li:last-child > a:hover{

color: #fff;
background-color: #cc1919;

}
#menu > ul > li:last-child > a:hover {

	color: #fff;

}
/*#menu > ul > li:nth-child(2) > a {font-size:25px;padding:6px 18px 0;}*/
#menu > ul > li:last-child a {
	-webkit-border-radius: 0 5px 0 0;
	border-radius: 0 5px 0 0;
	background-color: rgba(255,255,255,0);
	-webkit-box-shadow: 1px 1px 5px rgba(0,0,0,.75);
	-moz-box-shadow: 1px 1px 5px rgba(0,0,0,.75);
	box-shadow: 1px 1px 5px rgba(0,0,0,.75);
	border: solid 1px #a98d3d;
	border-left:none;	
	background-image: linear-gradient(to bottom, #66fd4a, #1da50d 40%, #065f04);
}
svg.svg-inline--fa.fa-bullhorn.fa-w-18.fa-fw {
    width: 100%;
    height: 60%;
    vertical-align: middle;
    margin-top: 6px;
}
#announcement {
	position: relative;
	top: 0;
	left: 0;
	width: 1040px;
	z-index: 10;
	-webkit-box-shadow: 0 4px 4px -2px rgba(0,0,0,0.6);
	box-shadow: 0 4px 4px -2px rgba(0,0,0,0.6);
}
#announcement .announceIcon {
	float: left;
		width: 38px;
		height: 30px;
		background: #b83e25;
}
#announcement .announceIcon i.fas.fa-bullhorn {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#announcement .announceIcon .fa-bullhorn:before {

font-size:18px;

}
#announcement .annContent {
	float: left;
	width: 805px;
	height: 30px;
	background: #030303;
	font-size: 11px;
	color: #FFFFFF;
	padding-top: 8px;
	-webkit-box-shadow:inset 0 3px 3px 1px rgba(0,0,0,0.5);
	box-shadow:inset 0 3px 3px 1px rgba(0,0,0,0.5);
}
#announcement .annContent .annTitle {
	float: left;
	width: 60px;
	padding-left: 10px;
}
#announcement .annContent .runText {
	float: left;
	width: 745px
}
#announcement .annTime {
	float: left;
	width: 197px;
	height: 30px;
	font-size: 12px;
	color: #e4d796;
	padding-top: 9px;
	-webkit-border-radius: 0 0 5px 0;
	border-radius: 0 0 5px 0;
	text-align: center;
	background: #030303; /* Old browsers */
}

#announcement .annContent, #announcement .annTime {
    background: #030303;
}

.bg-banner {
	/* background:#000 url(../images/common/bg-banner.jpg)top center no-repeat;
	background-color: #050505; */
}
.bg-banner .container {
	position:relative;
}

/* Home */
.home-content {
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	background-color: transparent;
	padding:10px 0 3px 6px;
	margin:10px auto;
	min-height:300px;
	position:relative;
}
.home-content .row-p {
	margin-bottom:7px;
}
.home-wrap {
	border:3px solid #e4d796; 
	display:inline-block; 
	float:left;
	margin-right:8px;
	position:relative;
}
.home-wrap.long {
	margin-bottom:9px;
}
.home-wrap:hover {
	border:3px solid #9b0302;
}
.home-text {
	position: absolute;
    bottom: 0;
    left: 0;
    line-height: 40px;
    text-transform: uppercase;
    background: rgba(0,0,0,0.7);
    width: 100%;
    font-weight: 700;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
}

.home-wrap:hover .home-text {
    opacity: 1;
    transition: all 0.25s ease-in-out;
}
.home-text .download-icon {
	margin:0;
}
.home-name {
	float:left;
	color:#ffffff;
	font-size: 3vmin;
}
.home-btn, .home-btn:active {
	float:right;
	text-transform:capitalize;
	color:#070209;
	line-height:29px;
	padding:0 12px;
	margin-top:5px;
	margin-right:4px;
	background-color: #000;
	-webkit-box-shadow: 1px 1px 1px rgba(0,0,0,.97);
	-moz-box-shadow: 1px 1px 1px rgba(0,0,0,.97);
	box-shadow: 1px 1px 1px rgba(0,0,0,.97);
	border: solid 1px #6e5002;
	-webkit-box-shadow:inset 0 0 1px 1px #b78a1b;
	box-shadow:inset 0 0 1px 1px #b78a1b;
	background-image: -webkit-linear-gradient(bottom, #976e2d, #fde487 42%, #976e2d);
	background-image: -moz-linear-gradient(bottom, #976e2d, #fde487 42%, #976e2d);
	background-image: -o-linear-gradient(bottom, #976e2d, #fde487 42%, #976e2d);
	background-image: -ms-linear-gradient(bottom, #976e2d, #fde487 42%, #976e2d);
	background-image: linear-gradient(to top, #976e2d, #fde487 42%, #976e2d);
}

.download-icon.play-now-button {
    margin-top: 24px;
}

.game-select {

	color: #000;
    width: 200px;
    padding: 8px;
    position: relative;
    display: block;

}

form div.deposit-form.clearfix {
    display: inline-block;
    position: relative;
}

optgroup {
    font-weight: 700;
    color: #000;
}

option {
    color: #000;
}

input.btn.btn-warning.btn-more.pull-right.align {
    float: none !important;
	margin: 0;
	margin-left: 16px;
    vertical-align: baseline;
}

/* Footer */
.footer {
	background: #070707; /* Old browsers */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#21444e', endColorstr='#032b37',GradientType=0 ); /* IE6-9 */
}

.footer .row {

display:flex;

}

.half-box {
    position: relative;
	padding: 12px;
}

.half-box.icon {
	padding-left: 75px;
	flex: 1;
}

.half-box h2.title {
    position: relative;
    color: #ffbf47;
    min-height: 70px;
    vertical-align: middle;
    display: flex;
	align-items: center;
	font-size: 26px;
	z-index: 1;
}

.container.terms h2.title {

text-transform: uppercase;

}

.container.payments {

	display: flex;
padding: 36px 12px;

}

li.main-faq {
    margin-bottom: 30px;
}

.container.payments > div {
    flex: 1;
}

.container.payments > div.powered_by {
    text-align: center;
}

.container.payments h2.title {
	text-transform: capitalize;
    color: #ffbf47;
    margin: 0;
	font-size: 24px;
}

.container.payments img.footer-poweredby {
    width: 200px;
    margin: 0 auto;
}

.container.payments .col.banks {
}

.container.payments .center-payments {
	display: flex;
    align-items: center;
	flex-wrap: wrap;
}

.container.payments .col.title-payments {
	display: flex;
	align-items: center;
	flex-basis:100%;
	justify-content: center;
    margin-bottom: 12px;
}

.container.payments .col .bank {
    margin: 0 8px;
	padding: 2px;
}

.container.payments .col .bank img {
    object-fit: contain;
    width: 100%;
}

.container.downloads {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
	background: rgba(0,0,0,0.15);
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    -webkit-box-shadow: inset 0 0 5px 3px rgba(255,255,255,0.3);
    box-shadow: inset 0 0 5px 3px rgba(255,255,255,0.3);
}

.container.downloads > img {

width:100%;

}
/*.half-box.icon p.description {
    padding-left: 30px;
} */

.half-box.icon h2.title.footer-icon1:before {
	content: "";
    background: url(../images/common/icon_1.png);
    position: absolute;
    left: -70px;
    width: 64px;
    display: block;
    top: 0;
    height: 64px;
    background-repeat: no-repeat;
    z-index: 999999;
    background-size: contain;
    padding: 10px;
    box-sizing: border-box;
}

.half-box.icon h2.title.footer-icon2:before {
	content: "";
    background: url(../images/common/icon_2.png);
    position: absolute;
    left: -70px;
    width: 64px;
    display: block;
    top: 0;
    height: 64px;
    background-repeat: no-repeat;
    z-index: 999999;
    background-size: contain;
    padding: 10px;
    box-sizing: border-box;
}

.half-box.icon h2.title.footer-icon3:before {
	content: "";
    background: url(../images/common/icon_3.png);
    position: absolute;
    left: -70px;
    width: 64px;
    display: block;
    top: 0;
    height: 64px;
    background-repeat: no-repeat;
    z-index: 999999;
    background-size: contain;
    padding: 10px;
    box-sizing: border-box;
}

.half-box.icon h2.title.footer-icon4:before {
	content: "";
    background: url(../images/common/icon_4.png);
    position: absolute;
    left: -70px;
    width: 64px;
    display: block;
    top: 0;
    height: 64px;
    background-repeat: no-repeat;
    z-index: 999999;
    background-size: contain;
    padding: 10px;
    box-sizing: border-box;
}

.link {
	-webkit-box-shadow: 0 4px 2px -2px rgba(0,0,0,0.5);
	box-shadow: 0 4px 2px -2px rgba(0,0,0,0.5);
	padding: 6px;
	background: linear-gradient(to bottom, #e71e1e, #9b0302 40%, #410302); /* Old browsers */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c808e', endColorstr='#05485b',GradientType=0 ); /* IE6-9 */
}
.f-link {
	text-align: center;
	margin: 0 auto;
    width: 100%;
	float:left;
	margin-bottom:0;
	padding:0;
}	
.f-link li {
	display:inline-block;
	list-style:none;
}
.f-link li a {
	text-transform:uppercase;
	padding:0 20px;
	color:#fff;
	border-right:1px solid #fff;
}
.f-link li a:last-child {
	border-right:none;
}
.copyright {
	margin-top: 8px;
	margin-bottom: 8px;
	text-align: center;
	width:100%;
	color:#fff;
}
.f-link, .copyright {
	line-height:26px;
}
.seo {
	padding:10px;
}
.f-column {
	padding:8px;
	float:left;
	text-align:justify;
	font-size:12px;
}
.f-column.f-col {

width: 50%;

}
.f-col p {
	font-size:12px;
	font-weight:400;
}
.f-title {
	margin-bottom:30px;
}
.f-title h4 {
	text-transform:capitalize;
	margin:0 0 10px 0;
}
.f-title img {
	margin:0 5px;
}
.bank {
	color:#fff;
	text-align:center;
	margin:0 7px 7px 0;
	width:100px;
	float:left;
}

.container.logos {

	margin: 24px auto;
	width: 100%;
	margin-bottom: 0;

}

.provider {
    text-align: center;
    border-top: 2px solid #9b0302;
    border-bottom: 2px solid #9b0302;
    margin-bottom: 12px;
    display: flex;
	justify-content: space-between;
	width: 100%;
    height: 45px;
    padding: 7px 0px;
}
.provider img {
	display: inline-block;
    height: 100%;
    object-fit: contain;
	/* float:left; */
}

/* product */
.page-content {
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    background-color: rgba(0,0,0,0.65);
    padding: 15px;
    border: 2px solid #7b1414;
    margin: 10px auto;
    min-height: 400px;
    position: relative;
}
.title-wrap {
	height:80px;
}
.banner-p {
	margin-top:31px;
	min-height:180px;
}
.outer-mask {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 400px;
    height: 80px;
	line-height:80px;
    overflow: hidden;
	-webkit-border-radius: 7px 0 0 0;
	border-radius: 7px 0 0 0;
}
.inner-mask {
    position: absolute;
    left: -20px;
    top: 0px;
    width: 400px;
    height: 80px;
	line-height:80px;
    overflow: hidden;
	-moz-transform: skewX(-27deg);
	-webkit-transform: skewX(-27deg);
	-o-transform: skewX(-27deg);
	-ms-transform: skewX(-27deg);
	transform: skewX(-27deg);
	-webkit-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.5);
	box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.5);
}
.title-p {
    position: absolute;
    left: 0px;
    top: 0px;
	margin:0;
    width: 375px;
    height: 70px;
	line-height:70px;
	background: #7b1414;
    color: #fff;
    border-color: #410302;
}
.title-p h2.smaller {
	font-size:29px;
}
.title-p h2 {
	font-weight:700;
	color:#e4d796;
	font-size:36px;
	margin-top: 16px;
	padding:0 30px 0 50px;
	text-transform:uppercase;
	-moz-transform: skewX(+27deg);
	-webkit-transform: skewX(+27deg);
	-o-transform: skewX(+27deg);
	-ms-transform: skewX(+27deg);
	transform: skewX(+27deg);
}
.single-wrap {
	-webkit-box-shadow: 0 2px 3px 1px rgba(0,0,0,0.5);
	box-shadow: 0 2px 3px 1px rgba(0,0,0,0.5);
	margin-bottom:10px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}
.single-wrap:last-child{
	margin-bottom:0;
}
.single-p {
	margin:0 auto;
	padding:7px 0;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
    background: #220404;
    box-shadow: 0 0 5px 2px #e4d796;
}
.single-p .left {
	float:left;
	width:769px;
	position:relative;
}
.poweredby {
	position:absolute;
	top:130px;
	left:0;
	width:315px;
	text-align:center;
	text-transform:uppercase;
	font-weight:700;
	color:#8bb4c0;
}
.single-p .right {
	float:left;
	width:231px;
	padding:10px;
	text-align:center;
}
.single-p .right > ul {
	margin:0;
	padding-left:25px;
	height:90px;
	overflow: hidden;
}
.single-p .right > ul > li {
	text-align:left;
}
.btn-more, .btn-more:hover, .btn-more:focus, .btn-more:active {
	margin:10px auto;
	font-size:15px;
	font-weight:700;
	border:1px solid !important;
	-webkit-border-radius: 8px 8px 8px 8px;
	border-radius: 8px 8px 8px 8px;
	padding:6px 25px;
	-webkit-box-shadow: 0 1px 1px 1px rgba(0,0,0,0.5);
	box-shadow: 0 1px 1px 1px rgba(0,0,0,0.5);
    background: #7b1414;
    color: #fde487 !important;
    border-color: #410302;
    border: 0 !important;
}
.single-download {
	text-transform:uppercase;
	font-weight:700;
	color:#8bb4c0;	
	line-height:26px;
}
.download-icon{
	margin-top:5px;
}
.download-icon .d-img {	
	padding:3px;
	margin:0 3px;
	display:inline-block;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	-webkit-box-shadow: 0 2px 3px 1px rgba(0,0,0,0.5);
	box-shadow: 0 2px 3px 1px rgba(0,0,0,0.5);
	background: #7b1414;
    color: #fff;
    border-color: #410302;
}
.download-icon .d-img {
    padding: 0 8px;
    color: #fde487;
    height: 30px;
    display: table-cell;
    vertical-align: middle;
}

.download-icon a {	
    text-decoration: none;
}


.download-icon .d-img:hover {	
	box-shadow: 0 2px 3px 1px #963131;
    text-decoration: none;
}

/* single page */
.p-logo {
	float:left;
	width:440px;
	text-align:center;
}
.p-logo img {
	/* margin-top:46px; */
}
.p-try {
	float:left;
	padding:20px 10px;
	width:600px;
}
.p-try h3 {
	margin:0;
	font-size:36px;
	font-weight:700;
	text-transform:uppercase;
	text-shadow: 0 3px 2px #000;
}
.p-try .text-small {
	font-size:18px;
	margin:5px auto 10px auto;
	text-shadow: 0 3px 2px #000;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 600px;
}
.btn-try .btn-more {
	padding:7px 29px;
	font-size:25px;
	margin:0 20px 0 auto;
}
.p-example {
	border-top:3px solid #2a4c55;
	border-bottom:3px solid #2a4c55;
	padding:23px 0;
}
.p-example h2 {
	width:230px;
	float:left;
	padding:0 15px;
	text-transform:capitalize;
	font-weight:700;
	text-shadow: 0 3px 2px #000;
	font-size:34px;
	line-height:40px;
	margin:10px auto;
}
.p-screen {
	float:left;
	padding:0 15px;
}
.p-description {
	text-align:justify;
	padding:20px;
	border-bottom:3px solid #2a4c55;
}
.p-description p:last-child {
	margin-bottom:0;
}
.p-screen img {
	margin-right:10px;
}
.bg-step {
	background:url(../images/common/bg-step.jpg)no-repeat;
	width:1000px;
	height:137px;
	margin:30px auto;
}
.step-each {
	float:left;
	width:250px;
	padding:20px 110px 20px 55px;
	font-weight:700;
}
.step-each:first-child {
	padding:20px 140px 20px 15px;
}
.step-title {
	font-size:20px;
	text-transform:uppercase;
	margin-bottom:5px;
}
.step-details {
	font-size:16px;
	line-height:20px;
}
.step-details:first-letter {
	text-transform:uppercase;
}

/* Register*/
.register {
	position:relative;
	background:rgba(0,0,0,0.15);
	padding:20px;
	-webkit-border-radius: 7px 7px 7px 7px;
	border-radius: 7px 7px 7px 7px;
	min-height:400px;
}
.r-content {
	border-bottom:3px solid #7b1414;
	padding-bottom:20px;
}
.register .title-wrap {
	height:60px;
}
.register .outer-mask {
    width: 260px;
    height: 60px;
	line-height:60px;
}
.register .inner-mask {
    width: 260px;
    height: 60px;
	line-height:60px;
}
.register .title-p {
    width: 260px;
    height: 60px;
	line-height:60px;
}
.register .title-p h2 {
	font-size:25px;
	padding:0 30px 0 40px;
	margin:15px auto 0 auto;
}
.register .title-p h2.smaller {
	font-size:21px;
}
.table-register {

}
.table-register tr td {
	margin:6px 12px 6px 0;
	display:inline-block;
}
.field-register {
	width:375px;
	line-height:26px;
	height:30px;
	padding:0px 6px;
	color:#6d6d6d;
	-webkit-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.5);
	box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.5);
}
.table-register tr td.col-2 {
	width:350px;
	font-size:12px;
}
.table-register tr td.col-3 {
	width:200px;
}
.text-error {
	color:#f59c5d;
}
.sms {
	float:left;
	width:100px;
}
.sms span {
	position:relative;
	top:-2px;
	margin:0 10px 0 3px;
}
.code {
	margin:0 10px;
}
.table-register ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: #6d6d6d;
}
.table-register ::-moz-placeholder { /* Firefox 19+ */
	color: #6d6d6d;
}
.table-register :-ms-input-placeholder { /* IE 10+ */
	color: #6d6d6d;
}
.table-register :-moz-placeholder { /* Firefox 18- */
	color: #6d6d6d;
}

/* Contact */
.contact-text {
	padding:25px 30px;
}
.contact-text p {
	font-size:18px;
}
.contact-box {
	border-top:3px solid #2a4c55;
	border-bottom:3px solid #2a4c55;
	padding:30px 0;
	margin-bottom:30px;
}
.horizontal {
	margin:15px auto;
}
.box {
	float:left;
	width:500px;
	font-size:18px;
}
.box.p-r {
	padding-left:140px;
}
.box img {
	margin-right:35px;
}
.btn-chat, .btn-chat:hover, .btn-chat:focus, .btn-chat:active {
    background: #7b1414;
    color: #fff;
    border-color: #410302;
	color: #fff !important;
	border: 0 !important;
}
.enquiry {
	width:500px;
}
.method {
	width:400px;
}
textarea {
	min-height:110px;
	resize:none;
}

/* Promotions */
#filters {
	float: left;
	border-bottom: 0;
	width: 174px;
	padding: 0;
	list-style: none;
	margin: 0 25px 0 5px;
}
#filters li {
	width: 100%;
}
#filters li span {
	margin-bottom: 3px;
	text-transform: capitalize;
	font-weight: 700;
	color: #fff;
	font-size: 18px;
	border: none;
	padding: 0 10px;
	text-align: center;
	cursor: pointer;
	display: block;
	line-height: 84px;
	background: linear-gradient(to bottom, #e71e1e, #9b0302 40%, #410302);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#1a194e',GradientType=0 );
}
#filters li:first-child span {
	-webkit-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
}
#filters li:last-child span {
	-webkit-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
}
#filters li span.active {
	color: #e4d796;
    background: linear-gradient(to bottom, #800a0a, #550504 40%, #410302);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd65e', endColorstr='#ff9f0f',GradientType=0 );
}
#portfoliolist {
}
#portfoliolist .portfolio {
	width: 752px;
	display: none;
	margin: 0 auto 20px auto;
}
#portfoliolist img{

	width:100%;

}
#portfoliolist .portfolio:last-child {
	margin: 0 auto;
}
.tabs-promo > .tab-content {
	float: left;
	width: 790px;
	min-height: 515px;
	background: transparent;
	padding: 20px;
	-webkit-border-radius: 7px 7px 7px 7px;
	border-radius: 7px 7px 7px 7px;
}
.promo-item {
	position: relative;
	border: 1px solid #bca13a;
}
.promo-btm-wrap {
}
.promo-title-row {
	position: absolute;
	top: 195px;
	right: 10px;
}
.promo-button {
	min-width: 140px;
	text-align: center;
	cursor: pointer;
}
.promo-content {
	padding: 20px;
	color: #fff;
}
.promo-content h4 {
	margin-top:0;
	font-weight:700;
	text-transform:capitalize;
}
.promo-table {
	background:transparent;
	text-align:center;
	margin-bottom:15px;
	border:1px solid rgba(255,255,255,0.3)
}
.promo-table tr th {
	line-height:28px;
	text-align:center;
	background: #220404;
    border: 1px solid #be0101;
    border-top: 1px solid #be0101 !important;
    color: #e4d796;
}
.promo-table tr td {
	line-height:28px;
	border: 1px solid #be0101;
}

.promo-table tr:nth-child(even) td:first-child {
    background: #220404;
    border: 1px solid #be0101;
    border-top: 1px solid #be0101 !important;
    color: #e4d796;
}

/* Promotion Page */

.promotion-table {
	background:transparent;
	text-align:center;
	margin-bottom:15px;
	border:1px solid rgba(255,255,255,0.3)
}
.promotion-table tr th {
	line-height:28px;
	text-align:center;
	background: #220404;
    border: 1px solid #be0101;
    border-top: 1px solid #be0101 !important;
    color: #e4d796;
}
.promotion-table tr td {
	line-height:28px;
	border: 1px solid #be0101;
}

/* Banking */
.bank-wrap {
	background:#31525b;
	-webkit-border-radius: 7px 7px 7px 7px;
	border-radius: 7px 7px 7px 7px;
	padding:20px;
	margin-bottom:20px;
}
.bank-wrap:last-child {
	margin-bottom:0;
}
.bank-wrap h4 {
	margin:0 auto 50px 0;
	text-transform:capitalize;
	font-weight:700;
	font-size:16px;
}
.bank-box {
	display:inline-block;
	width:315px;
}
.transaction-icon {
	float:left;
	margin-left:25px;
}
.transaction-text {
	float:left;
	padding:15px 10px;
	text-transform:capitalize;
}
.transaction-text p:first-child {
	font-weight:700;
}

/* FAQ */
.faq p {
	margin-bottom:20px;
}
.faq p:last-child {
	margin-bottom:0px;
}

/* tnc */
.tnc-wrap {
	text-align:justify;
}
.tnc-wrap ol {
	counter-reset:item;
}
.tnc-wrap ol.first{
	padding-left:5px;
}
.tnc-wrap li {
	display: block;
    line-height:18px;
	margin-bottom:10px;
}
.tnc-wrap ol li:before { 
	content: counters(item, ".") ". "; 
	counter-increment: item ; 
}

/* Tutorial */
.tutorial_wrap {
	padding: 12px 20px;
	width: 750px;
	margin: 0 auto;
	background: url(../images/common/bg_tutorial.png) bottom left no-repeat;
}
.tutorial_tittle {
	font-size: 24px;
	width: 470px;
	float: right;
	text-align: center;
	text-transform: uppercase;
	font-weight: 700;
	color:#fde487;
	text-shadow: -1px 1px 1px #000;
	padding:0 12px;
}
#tutorial_content {
	display: block;
	margin: 0 auto;
	background: none;
	padding: 12px;
}
#content_youtube {
	display: block;
	background: rgba(0,1,38,0.8);
	padding: 0;
	margin-left: 230px;
	width: 464px;
	border: 1px solid #858585;
}
#tutorial {
	margin: 0;
	padding: 0;
	float: left;
	-webkit-border-radius: 5px 0 0 5px;
	border-radius: 5px 0 0 5px;
}
#tutorial li {
	list-style: none;
	line-height: 40px;
	width: 195px;
	text-align: center;
	-webkit-border-radius: 7px 7px 7px 7px;
	border-radius: 7px 7px 7px 7px;
	margin-bottom: 10px;
	font-weight: 700;
	text-transform: uppercase;
	-webkit-box-shadow: 0 2px 3px 1px rgba(0,0,0,0.5);
	box-shadow: 0 2px 3px 1px rgba(0,0,0,0.5);
}
#tutorial li a {
	display: block;
	text-align: center;
	font-size: 16px;
	color: #ffffff;
	text-decoration: none;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	-webkit-box-shadow:inset 0 0 5px 2px rgba(255,255,255,0.3);
	box-shadow:inset 0 0 5px 2px rgba(255,255,255,0.3);
	background: #30515a; /* Old browsers */
	background: -moz-linear-gradient(top,  #30515a 0%, #264852 28%, #1c404c 42%, #1b4049 47%, #183d46 49%, #08303a 50%, #032b37 51%, #032b37 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #30515a 0%,#264852 28%,#1c404c 42%,#1b4049 47%,#183d46 49%,#08303a 50%,#032b37 51%,#032b37 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #30515a 0%,#264852 28%,#1c404c 42%,#1b4049 47%,#183d46 49%,#08303a 50%,#032b37 51%,#032b37 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#30515a', endColorstr='#032b37',GradientType=0 ); /* IE6-9 */
}
#tutorial li a.open {
	color: #ffe588;
}
#tutorial li a:hover {
	color: #ffe588;
	-webkit-box-shadow: 0 2px 3px 1px #4E7F8E;
	box-shadow: 0 2px 3px 1px #4E7F8E;
}
.contentblock {
	display: block;
	padding: 0;
}
.contentblock.hidden {
	display: none;
}
.tutorial-container {
	position:relative;
	padding-bottom:52%;
	height:0;
	overflow:hidden;
}
.tutorial-container iframe, .tutorial-container object, .tutorial-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	-webkit-border-radius: 0 0 7px 7px;
	border-radius: 0 0 7px 7px;
}
.content-tutorial {
	-webkit-box-shadow: 0 2px 3px 1px #4E7F8E;
	box-shadow: 0 2px 3px 1px #4E7F8E;
	-webkit-border-radius: 7px 7px 7px 7px;
	border-radius: 7px 7px 7px 7px;
}
.content-tutorial .modal-header {
	background:#000;
	border-bottom:none;
	-webkit-border-radius: 7px 7px 0 0;
	border-radius: 7px 7px 0 0;
	padding:5px 10px 0 0;
}
.content-tutorial .modal-header .close {
	color:red;
	opacity:1;
	font-size:40px;
}
.content-tutorial .modal-body {
	padding:0;
	-webkit-border-radius: 0 0 7px 7px;
	border-radius: 0 0 7px 7px;
}

/* Mobile */
.mobile {

}
.mobile-ul {
	float: left;
	width: 150px;
	padding: 0;
	list-style: none;
	margin: 0 25px 0 5px;
}
.mobile-ul li {

}
.mobile-ul li a {
	margin-bottom: 3px;
	text-transform: capitalize;
	font-weight: 700;
	color: #fff;
	font-size: 15px;
	padding: 0 10px;
	text-align: center;
	cursor: pointer;
	display: block;
	line-height: 42px;
	background: linear-gradient(to bottom, #e71e1e, #9b0302 40%, #410302);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#1a194e',GradientType=0 );
}
.mobile-ul li:hover a {
	text-decoration:none;
	color:#fff;
}	
.mobile-ul li:first-child a {
	-webkit-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
}
.mobile-ul li:last-child a {
	-webkit-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
}
.mobile-ul li.active a {
	color: #fff;
	background: linear-gradient(to bottom, #800a0a, #550504 40%, #410302);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd65e', endColorstr='#ff9f0f',GradientType=0 );
}
.mobile > .tab-content {
	float: right;
	width: 814px;
	min-height: 670px;
	background: transparent;
	padding: 20px;
	-webkit-border-radius: 7px 7px 7px 7px;
	border-radius: 7px 7px 7px 7px;
	position:relative;
	margin-right:5px;
}
/* #gamingsoft {
	background:url(../images/common/mobile_gs.jpg)top center no-repeat;
}
#naga {
	background:url(../images/common/mobile_naga.jpg)top center no-repeat;
}
#wft {
	background:url(../images/common/mobile_wft.jpg)top center no-repeat;
}
#calibet {
	background:url(../images/common/mobile_calibet.jpg)top center no-repeat;
}
#scr888 {
	background:url(../images/common/mobile_scr888.jpg)top center no-repeat;
}
#suncity {
	background:url(../images/common/mobile_suncity.jpg)top center no-repeat;
}
#live22 {
	background:url(../images/common/mobile_live22.jpg)top center no-repeat;
}
#joker {
	background:url(../images/common/mobile_joker.jpg)top center no-repeat;
} */

svg.svg-inline--fa.fa-facebook {

margin-right: 24px;

}

svg.svg-inline--fa.fa-facebook, svg.svg-inline--fa.fa-instagram {
    font-size: 20px;
    margin-top: 2px;
}

svg.svg-inline--fa.fa-facebook:hover, svg.svg-inline--fa.fa-instagram:hover {
    color:#e4d796;
}

.table_mobile {
	text-align:center; 
	margin-bottom:20px;
}
.qr-wrap {
	width:180px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	display:block;
	margin:0 auto;
	-webkit-box-shadow: 0 2px 3px 1px rgba(0,0,0,0.5);
	box-shadow: 0 2px 3px 1px rgba(0,0,0,0.5);
	margin:10px auto;
}
.qr-wrap a:hover {
	text-decoration:none;
}
.qrcode {
	margin-top:65px;
	margin-bottom:10px;
}
.qrcode img {
    width: 136px;
    object-fit: contain;
}
.qrcode img.code {
	/*padding:12px;
	-webkit-box-shadow:inset 0 0 0 6px rgba(255,255,255,0.3);
	box-shadow:inset 0 0 0 6px rgba(255,255,255,0.3); */
}
.mobile_tittle {
	color:#a8f0e3; 
	font-size:15px; 
	text-transform:uppercase; 
	font-weight:700;
}
.os_icon {
	width:180px; 
	display:block;
	margin:0 auto;
	padding:0 3px;
	line-height:35px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	-webkit-box-shadow:inset 0 0 5px 2px rgba(255,255,255,0.3);
	box-shadow:inset 0 0 5px 2px rgba(255,255,255,0.3);
    background: linear-gradient(to bottom, #e71e1e, #9b0302 40%, #410302)
}
.os_icon:hover {
	box-shadow: 0 0 3px 1px #e71e1e;
}
.download_txt {
	text-transform:uppercase; 
	font-size:13px; 
	font-weight:700;
	color:#fff;
}
.btn-download {
	display: block;
	text-align: center;
	font-weight: 700;
	color: #FFFFFF;
	border: 2px solid #039798;
	padding-left: 10px;
	padding-right: 10px;
	background: rgb(19,77,103);
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
	background: -moz-linear-gradient(top, rgba(19,77,103,1) 0%, rgba(4,32,39,1) 100%);
	background: -webkit-linear-gradient(top, rgba(19,77,103,1) 0%, rgba(4,32,39,1) 100%);
	background: linear-gradient(to bottom, rgba(19,77,103,1) 0%, rgba(4,32,39,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#134d67', endColorstr='#042027', GradientType=0 );
}
.btn-download:hover {
	text-decoration: none;
	color: #FFFFFF;
	background: rgb(36,118,143);
	background: -moz-linear-gradient(top, rgba(36,118,143,1) 0%, rgba(8,58,69,1) 100%);
	background: -webkit-linear-gradient(top, rgba(36,118,143,1) 0%, rgba(8,58,69,1) 100%);
	background: linear-gradient(to bottom, rgba(36,118,143,1) 0%, rgba(8,58,69,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#24768f', endColorstr='#083a45', GradientType=0 );
}
.btn-download:focus {
	outline: none;
	color: #FFFFFF;
}
.btn-pc, .btn-mac, .btn-android, .btn-ios {
	position: absolute;
}
.main-btm-bg {
	margin-bottom:20px;
	position: relative;
}
.main-qr-android {
	position: absolute;
	right: 208px;
	top: 161px;
	width: 85px;
}
.main-qr-ios {
	position: absolute;
	right: 31px;
	top: 161px;
	width: 85px;
}
.btn-download {
	line-height: 30px;
	border-radius: 6px;
	font-size: 12px;
	min-width: 170px;
}
.btn-pc {
	left: 10px;
	top: 265px;
}
.btn-mac {
	left: 190px;
	top: 265px;
}
.btn-android {
	right: 188px;
	top: 265px;
}
.btn-ios {
	right:10px;
	top: 265px;
}

/* Left Slide */
.slide_left_close {
	position: fixed;
	left: -160px;
	z-index: 1002;
}
.slide_left_open {
	left: -15px;
}
#slide_left > ul {
	float: left;
	background: transparent;
}
#slide_left > ul > h2 {
	color: #c0b097;
	border-bottom: solid 1px #beb300;
	font-size: 16px;
	margin: 10px 0px;
	padding-left: 0px;
	padding-bottom: 10px;
	color: #ffed53;
	text-shadow: 1px 2px 2px #010202;
}
.body_close {
	overflow: hidden;
	position: relative;
	left: 0;
}
.body_open_left {
	left: 155px;
}
.srl_menu {
	margin-top: 170px;
	height: 100%;
}
.list_menu {
	list-style: none;
	padding: 0;
	margin: 0;
	width: 160px;
	min-height:456px;
}
.list_menu #sidebar {
	position: absolute; 
	left: 15px; 
	top: 0;
}
.button {
	border: none;
	outline: none;
	width: 57px;
	height: 212px;
	padding: 0;
	cursor: pointer;
	float: left;
}
.sbutton {
	-webkit-border-radius: 0 5px 5px 0;
	border-radius: 0 5px 5px 0;
	border: none;
	border-left: none;
	background: #4b808e; /* Old browsers */
	background: -moz-linear-gradient(top,  #4b808e 0%, #3e6a75 3%, #355b66 6%, #2d525b 8%, #2b4d57 11%, #254751 26%, #1a3f48 43%, #052b36 46%, #032b37 89%, #02303d 93%, #043846 96%, #05485b 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #4b808e 0%,#3e6a75 3%,#355b66 6%,#2d525b 8%,#2b4d57 11%,#254751 26%,#1a3f48 43%,#052b36 46%,#032b37 89%,#02303d 93%,#043846 96%,#05485b 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #4b808e 0%,#3e6a75 3%,#355b66 6%,#2d525b 8%,#2b4d57 11%,#254751 26%,#1a3f48 43%,#052b36 46%,#032b37 89%,#02303d 93%,#043846 96%,#05485b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4b808e', endColorstr='#05485b',GradientType=0 ); /* IE6-9 */
	-webkit-box-shadow:inset 0 0 5px 3px rgba(255,255,255,0.1);
	box-shadow:inset 0 0 5px 3px rgba(255,255,255,0.1);
}
.slide_left_open, .slide_left_close {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
#slide_left{
	z-index:10;
}
#slide_left:hover{
	left:-15px;
	z-index:99;
}
#slide_left:after{
	position:fixed;
	left:-145px;
	z-index:99;
}

/* After Login */
.welcome {
	float:left;
	line-height:30px;
	margin-left:6px;
}
.member {
	float: left;
	width: 174px;
	padding: 0;
	list-style: none;
	margin: 0 25px 0 5px;
}
.member li {

}
.member li a {
	margin-bottom: 3px;
	text-transform: capitalize;
	font-weight: 700;
	color: #fff;
	font-size: 18px;
	padding: 0 10px;
	text-align: center;
	cursor: pointer;
	display: block;
	line-height: 84px;
    background: linear-gradient(to bottom, #e71e1e, #9b0302 40%, #410302);
}
.member li a:hover {
	text-decoration:none;
	color:#fff;
}	
.member li:first-child a {
	-webkit-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
}
.member li:last-child a {
	-webkit-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
}
.member li a.active {
	color: #e4d796;
    background: linear-gradient(to bottom, #800a0a, #550504 40%, #410302);

}
.m-page > .tab-content {
	float: right;
	width: 790px;
	min-height: 515px;
	background: transparent;
	padding: 20px;
	-webkit-border-radius: 7px 7px 7px 7px;
	border-radius: 7px 7px 7px 7px;
	position:relative;
	margin-bottom:20px;
	margin-right:5px;
}
.m-page > .tab-content.short {
	min-height:inherit;
}
.m-page > .tab-content:last-child {
	margin-bottom:0;
}
.m-page > .tab-content h4 {
	margin:0 0 5px 15px;
	font-weight:700;
}
.m-page > .tab-content .title-wrap {
	height:60px;
}
.m-page > .tab-content .outer-mask {
    height: 60px;
	line-height:60px;
}
.m-page > .tab-content .inner-mask {
    height: 60px;
	line-height:60px;
}
.m-page > .tab-content .title-p {
    height: 60px;
	line-height:60px;
}
.m-page > .tab-content .title-p h2 {
	text-transform:capitalize;
	margin-top:15px;
}
.m-page > .tab-content .title-p h2.smaller {
	font-size:24px;
}
.member-main {
	padding:10px 50px 0 50px;
}
.member-row {
	border-bottom:3px solid #02303b;
	padding-bottom:15px;
	margin-bottom:30px;
}
.member-row:last-child {
	margin-bottom:0;
	border-bottom:none;
}
.member-col-wrap {
	display:inline-block;
	float:left;
	margin-right:50px;
}
.member-col-wrap:last-child {
	margin-right:0;
}
.member-col {

}
.member-col .sportsbook {
	background:url(../images/common/products-box-sports.jpg)no-repeat;
}
.member-col .livecasino {
	background:url(../images/common/products-box-casino.jpg)no-repeat;
}
.member-col .slots {
	background:url(../images/common/products-box-slots.jpg)no-repeat;
}
.member-col .games {
	background:url(../images/common/products-box-games.jpg)no-repeat;
}
.member-col .lottery {
	background:url(../images/common/products-box-poker.jpg)no-repeat;
}

.sportsbook {
	background:url(../images/common/products-box-sports.jpg)no-repeat;
	text-align: center;
}
.livecasino {
	background:url(../images/common/products-box-casino.jpg)no-repeat;
	padding: 30px;
	text-align: center;
}
.slots {
	background:url(../images/common/products-box-slots.jpg)no-repeat;
	text-align: center;
}
.games {
	background:url(../images/common/products-box-games.jpg)no-repeat;
	padding: 30px;
	text-align: center;
}
.lottery {
	background:url(../images/common/products-box-poker.jpg)no-repeat;
	padding: 30px;
	text-align: center;
}

.member-input {
	margin:10px auto;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.member-input span {
	position:relative;
	top:1px;
	margin:0 0 0 10px;
	text-transform:capitalize;
	font-weight:700;
	font-size:16px;
}
.play-details {

}
.play-details p {
	margin-bottom:5px;
	text-transform:capitalize;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 180px;
}
.play-details p:first-child {
	margin-top:10px;
}
.member-col-wrap .home-btn{
	text-transform:capitalize;
	display:block;
	margin:0 auto;
	font-weight:700;
	-webkit-border-radius: 0 0 0 0;
	border-radius: 0 0 0 0;
}
.start-game .member-col-wrap {
	margin:0;
	margin-top:8px;
}
.member-start {
	width:180px;
	height:110px;
    background: #220404;
}
.member-start .step {
	-webkit-box-shadow: 0 2px 4px -2px #000;
	box-shadow: 0 2px 4px -2px #000;
	text-align:center;
	line-height:30px;
	font-weight:700;
	text-transform:uppercase;
	font-size:16px;
	padding:0 6px;
    background: #7b1414;
    color: #e4d796;
    border-color: #410302;
}
.step-content {
	padding: 5px 8px;
	font-weight:400;
	font-size:15px;
	font-style: italic;
	line-height:18px;
}
.start-arrow {
	line-height:110px;
	float:left;
	margin:50px 12px 0 12px;
}
.table-member {
	margin-bottom:15px;
	border:1px solid rgba(255,255,255,0.3);
	background: #220404;
}
.table-member tr th {
	background:#220404;
	line-height:28px;
	text-align:center;
	border:1px solid #be0101;
}
.table-member tr td {
	line-height:22px;
	padding: 5px 10px;
	border:1px solid #be0101;
}
.table-member .bank {
	float:inherit;
	background:transparent;
	width:100%;
}
.member-row > .nav-tabs {
	margin-bottom:10px;
	border-bottom:1px solid rgba(255,255,255,0.3);
}
.member-row > .nav-tabs > li > a {
	text-transform:capitalize;
	font-weight:700;
	color:#fff;
	border:1px solid rgba(255,255,255,0.3);
}
.member-row > .nav-tabs > li.active > a, .member-row > .nav-tabs > li > a:hover {
	color:#000;
}



