.testbody
{
    background-image: none !important;
    background-color: #ffffff !important;
}

.txt10
{
    font-size: 10px;
}

.txt11
{
    font-size: 11px;
}

.txt12
{
    font-size: 12px;
}

.txt13
{
    font-size: 13px;
}

.txt14
{
    font-size: 14px;
}

.txt15
{
    font-size: 15px;
}

.txt16
{
    font-size: 16px;
}

.txt17
{
    font-size: 17px;
}

.txt18
{
    font-size: 18px;
}

.txt19
{
    font-size: 19px;
}

.txt20
{
    font-size: 20px;
}

.txt22
{
    font-size: 22px;
}

.txt24
{
    font-size: 24px;
}

.txt26
{
    font-size: 26px;
}

.txt28
{
    font-size: 28px;
}

.txt30
{
    font-size: 30px;
}

.txt32
{
    font-size: 32px;
}

.txt34
{
    font-size: 34px;
}

.b600
{
    font-weight: 600;
}

.ital
{
    font-style: italic;
}

.txtshad
{
    text-shadow: 1px 1px #000000;
}

.space1
{
    width: 100%;
    height: 1px;
    clear: both;
}

.space5
{
    width: 100%;
    height: 5px;
    clear: both;
}

.space10
{
    width: 100%;
    height: 10px;
    clear: both;
}

.space15
{
    width: 100%;
    height: 15px;
    clear: both;
}

.space20
{
    width: 100%;
    height: 20px;
    clear: both;
}

.space25
{
    width: 100%;
    height: 25px;
    clear: both;
}

.space30
{
    width: 100%;
    height: 30px;
    clear: both;
}

.space40
{
    width: 100%;
    height: 40px;
    clear: both;
}

.space50
{
    width: 100%;
    height: 50px;
    clear: both;
}

.ubuntu
{
    font-family: 'Ubuntu', sans-serif;
}

.marcellus
{
    font-family: 'Marcellus', serif;
}

.muli
{
    font-family: 'Muli', sans-serif;
}

.opensans
{
    font-family: 'Open Sans', sans-serif;
}

.ptsans
{
    font-family: 'PT Sans', sans-serif;
}

.alerterr
{
    width: 90%;
    color: #b94a48;
    font-weight: bold;
    padding: 8px 10px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #f2dede;
    border: 1px solid #daadb3;
    display: inline-block;
    margin-bottom: 10px;
    text-align: center;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.alertsuc
{
    width: 90%;
    color: #468847;
    font-weight: bold;
    padding: 8px 10px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #dff0d8;
    border: 1px solid #d6e9c6;
    display: inline-block;
    margin-bottom: 10px;
    text-align: center;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

INPUT.dumbutt
{
    font-size: 0px;
    BACKGROUND-COLOR: transparent;
    border: 0px solid;
}

.depgap
{
    width: 100%;
    height: 50px;
    clear: both;
}

.divTblProdDet
{
    padding: 0 250px;
}

    .divTblProdDet #tblProdDet
    {
        border-collapse: collapse;
    }

        .divTblProdDet #tblProdDet tr
        {
            border-bottom: 1px solid #6e4f02 !important;
        }

        .divTblProdDet #tblProdDet th
        {
            background: none;
            font-weight: lighter;
            color: #5a5a5a;
            font-size:15px;
            padding: 20px 0;
        }

        .divTblProdDet #tblProdDet td
        {
            background: none;
            color: white;
            padding: 20px 0;
            border-bottom: 0px !important;
            font-size:18px;
        }

.tbh1
{
    text-align: left;
    border-spacing:1px;
    border-collapse: separate;
}

    .tbh1 th
    {
        background-color: #765603;
        color: #ffffff;
        /*font-weight: bold;*/
        /*font-weight: bold;*/
        padding: 10px;
    }

    .tbh1 td
    {
        background-color: #281d01;
        color: #ffffff;
        /*font-weight: bold;*/
        font-size: 13px;
        padding: 10px;
        border-bottom: 1px solid #281d01 !important;
        vertical-align: top;
        
    }

        .tbh1 td p
        {
            font-size: 10px;
            margin:0;
        }
#tblbank
{
    border-collapse:collapse;
    border-spacing:0px;
}
#tblbank tr:first-child
{
    border: 2px solid black;
}

#tblbank th
{
    border: 2px solid black;
}

#tblbank td
{
    border-left: 2px solid black;
}

/* ----------------- ORG CSS MOD ----------------- */
#bank_container
{
    border: 0px solid white;
    min-height: 300px;
}

#faq_content
{
    margin-top: 20px;
    text-align: justify;
}

.contact
{
    margin-left: 50px;
    width: 230px;
    color: white;
    font-family: 'Open Sans';
    font-size: 0.9em;
    margin-top: 10px;
    text-align: left;
    float: left;
    border: 0px solid white;
}

    .contact p
    {
        font-family: 'Open Sans';
        font-weight: bold;
        margin: 0px;
        margin-top: 8px;
        float: left;
        margin-bottom: 5px;
    }

    .contact img
    {
        float: left;
        clear: both;
        padding: 5px;
        margin-right: 5px;
        float: left;
    }

.lang
{
    border: 0px solid white;
    display:inline-block;
    vertical-align:top;
}

.slot_category
{
    text-align: left;
    font-family: arial;
    font-weight: normal;
    margin: 5px;
    width: 246px;
    height: 178px;
    border-radius: 3px;
    float: left;
    overflow: hidden;
}

    .slot_category img
    {
        margin: 0;
        padding: 0;
        border: 3px solid transparent;
        -moz-border-image: -moz-linear-gradient(top, #3acfd5 0%, #3a4ed5 100%);
        -webkit-border-image: -webkit-linear-gradient(top, #3acfd5 0%, #3a4ed5 100%);
        border-image: linear-gradient(to bottom, #3acfd5 0%, #3a4ed5 100%);
        border-image-slice: 1;
        border-radius: 5px;
        width: 96%;
        float: left;
    }

.acc-prod
{
    font-size: 0px;
}

    .acc-prod .productcontainer
    {
        display: inline-block;
        width: calc(100%/3);
        text-align: center;
        font-size: 0px;
        border: 0px solid white;
        vertical-align: top;
        height: 343px;
        position: relative;
        margin-bottom:20px;
    }
        .acc-prod .productcontainer .acc-prod-img
        {
            height: 140px;
            background: url(../images/prod-badge.png);
            background-position: center;
            background-repeat: no-repeat;
        }

            .acc-prod .productcontainer .acc-prod-img img
            {
                width: 34%;
                margin-top: 40px;
            }

.upperslot, .upperslot2
{
    height: 56px;
    overflow: auto;
    font-size: 12px;
    color: white;
}

    .upperslot .up-usr
    {
        min-width:32%;
        width: auto;
        display: inline-block;
        text-align: left;
        background-color: #352805;
        padding: 4px 10px;
        font-size: 15px;
    }

        .upperslot .up-usr p
        {
            margin: 0;
            font-weight: bold;
        }

            .upperslot .up-usr p:first-child
            {
                font-size: 9px;
            }

.img_container
{
    width: 100%;
    text-align: center;
}

    .img_container img
    {
        text-align: center;
        height: 5%;
        width: 15% !important;
        margin: 0 2%;
    }

.bottomslot
{
    width: 100%;
    height: 50px;
    font-family: 'PT Sans', Arial;
    margin: 1px;
    font-size: 11px;
}

    .bottomslot p
    {
        color: white;
        font-weight: bold;
        font-size: 12px;
        margin:10px 0;
    }

.btn5
{
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 17%, rgba(189,189,189,1) 43%, rgba(222,222,222,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(17%, rgba(255,255,255,1)), color-stop(43%, rgba(189,189,189,1)), color-stop(100%, rgba(222,222,222,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 17%, rgba(189,189,189,1) 43%, rgba(222,222,222,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 17%, rgba(189,189,189,1) 43%, rgba(222,222,222,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 17%, rgba(189,189,189,1) 43%, rgba(222,222,222,1) 100%);
    cursor: pointer;
    color: black;
    font-size: 15px;
    padding: 8px 10px;
    border: 0px;
    width: 200px;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Century Gothic';
    box-shadow: 0px 0px 14px 0px grey;
}

    .btn5:disabled
    {
        color:grey;
        cursor: not-allowed;
    }

.btn7:disabled
{
    background: #828282;
    border: 1px solid #808080;
    cursor: not-allowed !important;
    background-image: -webkit-linear-gradient(top, #828282, #363636);
    background-image: -moz-linear-gradient(top, #828282, #363636);
    background-image: -ms-linear-gradient(top, #828282, #363636);
    background-image: -o-linear-gradient(top, #828282, #363636);
    background-image: linear-gradient(to bottom, #828282, #363636);
    text-decoration: none;
    cursor: pointer;
}

.form img
{
    float: right;
}

/*.form input[type="file"]{
	width:325px;
    clear: both;
    color: black;
    outline: none;
    border: none;
    border-radius: 5px;
    font-family: arial;
    padding: 5px;
	font-weight:bold;
	-webkit-appearance: none;
	background:no-repeat right #dcdcdc;
    margin-bottom:9px;
}*/
.form ::-webkit-file-upload-button
{
    float: left;
    border-radius: 5px;
    border: none;
    background: #1f6e94;
    color: white;
    /*padding: 5px;*/
}

.submenu
{
    display: none;
}

.prodsubm
{
    display: none;
}

.dmdl3
{
    display: none;
}

    .dmdl3 img
    {
        max-width: 100% !important;
        max-height: 100% !important;
    }

.logobet
{
    width: 100%;
    border: 0px solid white;
}

.divfp
{
    display: none;
}

.divbank
{
    margin-bottom :50px;
}

.divbank_m
{
    display: none;
}

.fxdfld
{
    color: #227fa8;
    font-weight: bold;
}

/* -------------------------------------------------------------------- MEDIA SCREEN MAX 480px -------------------------------------------------------------------- */

@media screen and (max-width : 480px)
{
    .tbh1 td
    {
        font-size: 18px;
    }
    .divTblProdDet
    {
        padding: 0 5%;
    }

        .divTblProdDet th
        {
            width: 30% !important;
        }
    .contact
    {
        display: none;
    }

    #productdetail
    {
        margin-bottom:5%;
    }
    .acc-prod .productcontainer
    {
        width: 100%;
        text-align: left;
        height: unset;
        margin: 0;
    }

        .acc-prod .productcontainer .xcnt
        {
            padding: 0 5%;
        }

            .acc-prod .productcontainer .xcnt .bottomslot
            {
                display: none;
            }

            .acc-prod .productcontainer .xcnt > img
            {
                display: none;
            }

            .acc-prod .productcontainer .xcnt .h-line
            {
                display: block !important;
                margin: 10% 0 5% 0;
            }

        .acc-prod .productcontainer:last-child .xcnt .h-line
        {
            display: none !important;
        }

            .acc-prod .productcontainer .xcnt .upperslot, .acc-prod .productcontainer .xcnt .upperslot2
            {
                display: inline-block;
                width: 55%;
                vertical-align: top;
                margin-top: 10%;
                height: unset;
            }

            .acc-prod .productcontainer .xcnt .upperslot2
            {
                margin-top: 13%;
            }

                .acc-prod .productcontainer .xcnt .upperslot2 .btn5
                {
                    width: 100%;
                }

            .acc-prod .productcontainer .xcnt .up-usr
            {
                display: block;
                margin-bottom: 0.5%;
                background-color: #382a06;
            }

        .acc-prod .productcontainer .acc-prod-img
        {
            display: inline-block;
            width: 45%;
            text-align: center;
            background-size: 100%;
            position: relative;
        }

            .acc-prod .productcontainer .acc-prod-img img
            {
                width: 55%;
                top: 33%;
                left: 20%;
                margin-top: 0;
                position: absolute;
            }
    .proddet-cont
    {
        margin-bottom:10%;
    }

    .icond
    {
        max-width: 30% !important;
    }

    .bottomslot
    {
        margin-bottom: 50px;
    }

    .submenu
    {
        display:block;
    }

    .prodsubm
    {
        display: block;
    }

    .prodcont
    {
        display: none;
    }

    .dmdl3
    {
        display: block;
    }

        .dmdl3 img
        {
            max-width: 32% !important;
            height: auto !important;
        }

    .mobile_chat_content
    {
        width: 18%;
        float: left;
        padding: 2px;
    }

    .divfp
    {
        display: block;
    }

    .divbank
    {
        display: none;
    }

    .divbank_m
    {
        display: block;
    }

    .btn8
    {
        background: #07283b;
        background: url('../images/m_desktop_icon.png') left no-repeat, -moz-linear-gradient(top, #07283b 0%, #07283b 17%, #114964 46%, #185e82 50%, #1a6c92 58%, #2489bf 71%, #2ba5e8 83%, #2daef2 88%, #2eb2fa 92%, #2fb5fe 96%, #2fb5fe 100%);
        background: url('../images/m_desktop_icon.png') left no-repeat, -webkit-linear-gradient(top, #07283b 0%,#07283b 17%,#114964 46%,#185e82 50%,#1a6c92 58%,#2489bf 71%,#2ba5e8 83%,#2daef2 88%,#2eb2fa 92%,#2fb5fe 96%,#2fb5fe 100%);
        background: url('../images/m_desktop_icon.png') left no-repeat, linear-gradient(to bottom, #07283b 0%,#07283b 17%,#114964 46%,#185e82 50%,#1a6c92 58%,#2489bf 71%,#2ba5e8 83%,#2daef2 88%,#2eb2fa 92%,#2fb5fe 96%,#2fb5fe 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#07283b', endColorstr='#2fb5fe',GradientType=0 );
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        font-family: Arial;
        color: #ffffff;
        font-size: 15px;
        padding: 10px 15px 10px 60px;
        border: solid #2494bf 1px;
        text-decoration: none;
        margin-left: 5px;
        margin-bottom: 5px;
        font-family: 'Marcellus';
        width: 80% !important;
        margin-left: auto;
        margin-right: auto;
        width: 400px;
    }
}

/* ----------------------------------- JQUERY.TICKER ----------------------------------- */
.marquee
{
    width: 1024px;
    overflow: hidden;
    border: 0px solid #ccc;
    background: transparent;
    color: #ffffff;
}

UL.marq
{
    list-style: none;
    margin: 0;
    padding: 0;
}

    UL.marq > li
    {
        padding-right: 980px;
        float: left;
        position: relative;
    }

A:link.marqlnk
{
    color: #ffffff;
    text-decoration: none;
    font-size: 11px;
}

A:active.marqlnk
{
    color: #ffffff;
    text-decoration: none;
    font-size: 11px;
}

A:visited.marqlnk
{
    color: #ffffff;
    text-decoration: none;
    font-size: 11px;
}

A:hover.marqlnk
{
    color: #ffff00;
    text-decoration: none;
    font-size: 11px;
}
/* ----------------------------------- JQUERY.TICKER ----------------------------------- */

/* ------------ MAGNIFIC POPUP ----------------- */
.white-popup
{
    position: relative;
    background: #FFF;
    padding: 20px;
    width: auto;
    max-width: 500px;
    margin: 20px auto;
    color: #000000;
    border-radius: 5px;
}

.black-popup
{
    position: relative;
    background: #000000;
    padding: 20px 20px 50px;
    width: auto;
    max-width: 800px;
    margin: 20px auto;
    border-radius: 5px;
    font-size: 16px;
    -webkit-box-shadow: 0px 0px 15px 5px rgba(137, 137, 137, .75);
    -moz-box-shadow: 0px 0px 15px 5px rgba(137, 137, 137, .75);
    box-shadow: 0px 0px 15px 5px rgba(137, 137, 137, .75);
}

.mfp-indiv
{
    width: 100%;
    overflow: auto;
}

/* Localized */